@charset "utf-8";

/* CSS Document */

body {
  background-image: url(http://advance.unab.cl/wp-content/themes/unab-advance-2016-2/img/logos/logo-header.png);
  background-repeat: no-repeat;
}

#contenedor {
  position: relative;
  margin-left: 20px;
  margin-top: 100px;
}
